.task {
 width: 100%;
 background-color: rgba(246,240,213,0.7);
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 border-bottom: 1px solid white;
 font-family: "Apple Braille" , sans-serif;
 font-size: 24px;
 line-height: 28px;
 p {
  margin-left: 10px;
 }
}
.green {
 color: green;
}
.red {
 color: red;
}
.task-done {
 background-color: #00000027;
}
.task-done p {
 color: #00000050;
}
.task:hover {
 background-color: #04395e3d;
}
.action-btn {
 cursor: pointer;
 margin-right: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.action-btn:hover {
 background-color: #04395e3d;
 border-radius: 5px;
}