.app {
 max-width: 500px;
 width: 100%;
 margin: 50px auto;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 border: 2px solid black;
 border-radius: 10px;
 overflow: hidden;
}
.top {
 width: 100%;
 height: 40px;
 background-color: rgba(25,25,25,0.4);
 display: flex;
 justify-content: center;
 align-items: center;
}
h1 {
 color: rgba(0,0,0,1);
 font-family: "Apple Braille" , sans-serif;
 text-align: center;
 font-size: 28px;
}
